# --- Python Basics ---
__pycache__/
*.py[cod]
*.venv
venv/
.env

# --- Security: NEVER upload keys ---
# משאיר את התעודות הציבוריות (*.crt) אבל חוסם את הפרטיות
*.key
*.pem
*.csr

# --- Secrets & Logs ---
# חוסם את הלוג שמכיל את סודות הפענוח
ssl_key_log.log
tls/logs/*.log
*.log

# --- Output & Debug Junk ---
# אנחנו לא רוצים להעלות תוצרים של ריצות טסטים
output/
tls/output/
tls/documents/*.gif
*.pcap
*.pcapng
*.txt

# --- Exception: Keep README and specific text files ---
!README.md
!requirements.txt
